.descricao__box2--paragrafo {
    color: #8A8A8A;
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 600;
    letter-spacing: -0.03em;
    line-height: 150%;
    max-width: 25.6rem;
    position: relative;
    top: 49rem;
    left: -18rem;
}