.tecnologia__titulo {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 91px;
    font-weight: bold;
    letter-spacing: -0.03em;
    line-height: 100%;
    margin-left: 7.125rem;
    max-width: 44.375rem;
}