.controle__box--titulo {
    color: #000000;
    font-family: 'Inter';
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 110%;
    max-width: 27rem;
    padding-left: 5rem;
}